<footer class="footer">
   <div class="container-fluid">
   <small>
    A Project for <a href="http://www.theodinproject.com/ruby-on-rails/building-advanced-forms">TheOdinProject</a>
    by <a href="https://github.com/Cgipson06">Cody Gipson</a>
  </small>
</div>
</footer>

